In [1]:
import os
import os.path
import numpy as np
import datetime

try:
    import matplotlib.pyplot as plt
    %matplotlib inline
except:
    pass

try:
    import pandas as pd
    print("  pandas: %s"% pd.__version__)
except:
    print("Missing pandas package")

  pandas: 2.1.3

In [3]:
path = os.path.join(os.path.dirname(os.getcwd()), "Data")
returns = pd.read_excel(os.path.join(path, "CAC40_db.xlsx"), sheet_name="Data").dropna()
returns = returns.set_index("Date")
returns.head()

,^FCHI,AC.PA,ACA.PA,AI.PA,AIR.PA,ALO.PA,ATO.PA,BN.PA,BNP.PA,CA.PA,...,RI.PA,RNO.PA,SAF.PA,SAN.PA,SGO.PA,SU.PA,SW.PA,VIE.PA,VIV.PA,WLN.PA
Date,,,,,,,,,,,,,,,,,,,,,
2014-06-27,4436.990234,33.990498,6.193954,58.526054,42.260895,22.606287,41.947052,40.243061,28.709953,21.255110,...,73.637039,51.726841,43.323265,55.458755,31.374657,54.303947,63.932766,10.222226,12.677140,16.400000
2014-06-30,4422.839844,34.039783,6.018655,59.228870,41.960808,22.446110,41.429523,40.051079,28.788395,21.082941,...,73.763229,50.660381,42.706970,55.344624,31.283546,54.036720,63.754215,9.985418,12.575108,16.600000
2014-07-01,4461.120117,34.071140,6.196877,59.877617,41.107704,22.197412,41.885765,40.678715,29.825586,21.376408,...,74.082840,52.977432,42.738232,55.522964,31.355675,53.981689,63.697399,10.136114,12.761587,16.400000
2014-07-02,4444.720215,34.617714,6.170581,59.829559,40.546116,21.893913,41.926617,40.523651,29.639643,21.814659,...,74.335144,53.368721,41.898659,55.316086,31.530294,53.447227,63.786671,9.841897,12.631404,16.299999
2014-07-03,4489.879883,34.846191,6.255310,60.730602,40.953373,21.982435,42.076431,41.143909,29.779095,21.881180,...,74.589836,54.181988,42.273788,55.794052,32.179420,54.571186,64.444107,9.831134,12.856586,16.400000